<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>راهبران اندیشه</title>
    <link type="text/css" rel="stylesheet" href="~/Content/css/plugin.css">
    <link type="text/css" rel="stylesheet" href="~/Content/css/main.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="~/Content/img/logo/LOGO-new.png">
    <meta charset="UTF-8">
    <meta name="description" content="راهبران اندیشه طلاع رسانی در زمینه استفاده از متد های نوین فناوری اطلاعات و ارتباطات در مشاغل متفاوت">
    <meta name="author" content="امید ابراهیمی">
</head>
<body>
    <!--Start navigation menu-->
    <section class="container-fluid">
        <nav class="navbar navbar-custom navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-custom" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#slideshow" class="navbar-brand navbar-brand-custom">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-nav-custom">
                    <li><a href="#brand">بازاریابی</a></li>
                    <li><a href="#insurance">بیمه</a></li>
                    <li><a href="#financial">امور مالیاتی</a></li>
                    <li><a href="#company">ثبت امور شرکتی</a></li>
                    <li><a href="#develop">توسعه فردی</a></li>
                    <li><a href="#resume" style="border-right:1px solid #000;">سوابق کاری</a></li>
                    <li><a href="#gallery">گالری</a></li>
                    <li><a href="#about">درباره ما</a></li>
                    <li><a href="#contact">تماس با ما</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <!--End navigation menu-->
        @RenderBody()
    <!--Start footer-->
    <footer class="container-fluid footer">
        <div class="text-center">
            <h4 class="wow fadeInUp">تمامی حقوق این سایت برای راهبران اندیشه محفوظ است</h4>
            <h5>طراحی توسط یک دیزاینر</h5>
        </div>
    </footer>
    <!--End footer-->
<script type="text/javascript" src="~/Content/js/plugin.js"></script>
<script type="text/javascript" src="~/Content/js/main.js"></script>ِ
<script type="text/javascript" src="~/Content/js/script.js"></script>ِ
</body>
</html>
