<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="~/Content/css/plugin.css">
    <link type="text/css" rel="stylesheet" href="~/Content/css/main.css">
    <title>Brand</title>
</head>
<body>
    <!--Start navigation-->
    <nav class="navbar navbar-custom">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle-custom" data-toggle="collapse"
                    data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <address class="pull-left">
                <span class="fa fa-phone "></span>
                <p class="pull-left"> تلفن تماس : 09384953091 </p>
            </address>
            <ul class="nav navbar-nav navbar-nav-custom ">
                <li><a href="index.html" target="_blank"> صفحه اصلی</a></li>
            </ul>
        </div>
    </nav>
    <!--End navigation-->

    @RenderBody()

    <!--Start footer content section-->
    <section class="container-fluid footer-content ">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 footer-padding">
                <h1>راهبران اندیشه</h1>
                <span class="fa fa-info pull-right"></span>
                <p>اطلاع رسانی در زمینه استفاده از متد های نوین فناوری اطلاعات و ارتباطات در مشاغل متفاوت </p>
                <span class="fa fa-info pull-right"></span>
                <p>پیشنهاد راهکارهای جدید جهت ارتقا فروش بیشتر با ابزارهای تجارت الکترونیک </p>
                <span class="fa fa-phone pull-right"></span>
                <p>تلفن تماس : 09384953091</p>
                <p> آدرس دفتر : کرج - میدان آزادگان - بلوار مطهری - جنب اطلس پود</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 footer-padding">
                <h1>راهبران اندیشه در فضای مجازی</h1>
                <div class="social ">
                    <a href="#">
                        <span class="fa fa-instagram"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-paper-plane"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <p class="email">ایمیل : rahbaran.andisheh@gmail.com<span class="fa fa-envelope pull-right"></span></p>
                </div>
            </div>
        </div>
    </section>
    <!--End footer content section-->
    <footer class="container-fluid primary-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12  ">
                <div class="footer-right-container">
                    <h4 class="text-center">تمامی حقوق این سایت برای راهبران اندیشه محفوظ است</h4>
                    <a href="https://www.instagram.com/one___designer/" class="text-center center-block">
                        طراحی توسط یک دیزاینر
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/Content/js/plugin.js" />
    <script type="text/javascript" src="~/Content/js/main.js" />
</body>
</html>
