
@{
    ViewBag.Title = "nternetmarketing";
    Layout = "~/Views/Shared/_Layout_Additional.cshtml";
}

<!--Start service-->
<section class="container-fluid service">
    <div class="row col-padding ">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="title-section">
                <h1>پکیج های تبلیغاتی در فضای مجازی و تبلیغات دیجیتالی</h1>
            </div>
        </div>
        <div class="container">
            <table class="">
                <thead>
                    <tr>
                        <th class="title-price" style="background: #e3e3e3; color:#000; border-bottom: 1px solid #cdcdcd">
                            پکیج ها و فعالیت ها
                        </th>
                        <th class="price">پکیج شماره یک</th>
                        <th class="price">پکیج شماره دو</th>
                        <th class="price">پکیج شماره سه</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="white">طراحی سایت</td>
                        <td class="dark">سایت خبری نیمه آماده</td>
                        <td class="dark">سایت فروشگاهی آماده</td>
                        <td class="dark">سایت تمام سفارشی</td>
                    </tr>
                    <tr>
                        <td class="white">وبلاگ نویسی ( نویسندگی سایت )</td>
                        <td class="dark">پنج مطلب در ماه</td>
                        <td class="dark">ده مطلب در ماه</td>
                        <td class="dark">بیست مطلب در ماه</td>
                    </tr>
                    <tr>
                        <td class="white">تبلیغات در وبسایت های دیگر</td>
                        <td class="dark">سه ماه در پنج وبسایتت رایگان</td>
                        <td class="dark">سه ماه در ده وبسایت رایگان</td>
                        <td class="dark">سه ماه در پانزده سایت پولی</td>
                    </tr>
                    <tr>
                        <td class="white">مدیریت شبکه های اجتماعی ( لینکدین، اینستاگرام، تلگرام)</td>
                        <td class="dark">
                            ساخت صفحات + انتشار لینک های سایت + ارسال پست مرتبط ( سه بار در هفته در تمام صفحات
                            اجتماعی )
                        </td>
                        <td class="dark">
                            ساخت صفحات + انتشار لینک های سایت + ارسال پست مرتبط ( سه بار در هفته در تمام صفحات
                            اجتماعی )
                        </td>
                        <td class="dark">
                            ساخت صفحات + انتشار لینک های سایت + ارسال پست مرتبط ( سه بار در هفته در تمام صفحات
                            اجتماعی )
                        </td>
                    </tr>
                    <tr>
                        <td class="white">ارسال پیامک انبوه</td>
                        <td class="dark">پانصد عدد با دریافت لیست شماره</td>
                        <td class="dark">هزار عدد در سه ماه</td>
                        <td class="dark">پنج هزار عدد در سه ماه</td>
                    </tr>
                    <tr>
                        <td class="white">ارسال ایمیل انبوه</td>
                        <td class="dark">ندارد</td>
                        <td class="dark">ندارد</td>
                        <td class="dark">هزار عدد ارسال</td>
                    </tr>
                    <tr>
                        <td class="white">تبلیغات کمپینی</td>
                        <td class="dark">ندارد</td>
                        <td class="dark">یک بار</td>
                        <td class="dark">به مدت قرارداد هر ماه یک یک بار</td>
                    </tr>
                    <tr>
                        <td class="white">ساخت تیزر تبلیغاتی</td>
                        <td class="dark">ندارد</td>
                        <td class="dark">سه عدد تیزر</td>
                        <td class="dark">شش عدد تیزر</td>
                    </tr>
                    <tr>
                        <td class="blue">براورد هزینه</td>
                        <td class="blue">15/000/000 ریال</td>
                        <td class="blue">20/000/000 ریال</td>
                        <td class="blue">توافقی</td>
                    </tr>
                    <tr>
                        <td class="white">سفارش :</td>
                        <td>
                            <a href="form.html" target="_blank">
                                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-order">
                                    درخواست
                                    سفارش
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="form.html" target="_blank">
                                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-order">
                                    درخواست
                                    سفارش
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="form.html" target="_blank">
                                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-order">
                                    درخواست
                                    سفارش
                                </button>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--End service section-->
